<section id="retiro" class="container">
  <div class="container">
    <h2 class="title">Retiro de mulheres</h2>
    <h3 class="title_line">Frutifique</h3>
    <p>
      Uma imersão de 3 dias com muita palavra, louvores, teatro, palestras e
      testemunhos voltados para a cura da Alma, em um lugar tranquilo e
      preparado para acomodar nossas Anas.
    </p>
    <div class="container_button">
      <a
        class="btn_rosa"
        href="https://geisabitt.github.io/LandingPageAnas/index.html"
        target="_blank"
        >Conheça</a
      >
    </div>
  </div>
  <div class="container">
    <img src="../../../assets/fotoRetiro.png" alt="Mulheres no retiro 2022" />
  </div>
</section>
