<footer class="container">
  <h2 class="title">
    Resgatando Anas - <span>Mulher, você é terra Fértil</span>
  </h2>
  <div class="logo">
    <img class="img_logo" src="../../../assets/logo-anas.jpeg" alt="" />
  </div>
  <div class="informacoes_footer">
    <div name="contatos">
      <h3 class="title">Duvias e informações</h3>
      <p>Pra. Roberta (21) 98636-5262</p>
      <p>Pra. Fernanda (21) 96508-1144</p>
      <p>Dia. Glória (21) 97459-9876</p>
    </div>
    <div name="endereco">
      <h3 class="title">Endereço</h3>
      <p>Ministério Profético Adonai - Corumbá</p>
      <p>Av. Fuscão, 255 - Autódromo, Nova Iguaçu - RJ, 26042-070</p>
      <p>Direção: Pastor Régis Lima dos Santos</p>
    </div>
  </div>
</footer>
