<nav class="container-fluid header">
  <ul class="nav-list">
    <li class="nav-item"><a routerLink="/sobre">Sobre</a></li>
    <li class="nav-item"><a routerLink="/atividades">Atividades</a></li>
    <li>
      <a routerLink="/"
        ><h3 class="title_cursive">
          Resgatando Anas
          <h4 class="title-menu">
            Mulher, você é <span class="destaque">terra fértil</span>
          </h4>
        </h3></a
      >
    </li>
    <li class="nav-item">
      <a
        href="https://geisabitt.github.io/LandingPageAnas/index.html"
        target="_blank"
        >Retiro</a
      >
    </li>
    <li class="nav-item">
      <a class="btn_vazado" routerLink="/sejaApoiador">Seja Apoiador</a>
    </li>
  </ul>
  <mat-icon [matMenuTriggerFor]="menu" id="btn-mobile" class="destaque"
    >menu</mat-icon
  >
  <mat-menu #menu="matMenu">
    <button mat-menu-item><a routerLink="/sobre">Sobre</a></button>
    <button mat-menu-item><a routerLink="/atividades">Cursos</a></button>
    <button mat-menu-item>
      <a
        href="https://geisabitt.github.io/LandingPageAnas/index.html"
        target="_blank"
        >Retiro</a
      >
    </button>
    <button mat-menu-item>
      <a routerLink="/sejaApoiador">Seja Apoiador</a>
    </button>
  </mat-menu>
</nav>
