<section id="logo_home" class="container-fluid">
  <div class="container">
    <div class="logo">
      <img
        src="../../../../assets/logo-anas.jpeg"
        alt="Logo Ong Resgatando Anas"
        class="img_logo"
      />
    </div>
    <div class="slogan">
      <p class="paragrafo_slogan">
        Um projeto para mostrar o seu potencial, trazendo esperança e
        autoestima.
      </p>
    </div>
  </div>
</section>
<section id="sobre_home" class="container_fluid">
  <div class="container">
    <div>
      <h2 class="title_line">Sobre o projeto</h2>
      <p class="resumo">
        Temos reuniões de forma quinzenal que tem o objetivo de cuidar da nossa
        Alma. Temos o costume de nos preocupar com o corpo, a igreja se preocupa
        com o espírito, e Deus pôs no meu coração a necessidade e a importância
        de cuidar da Alma.
      </p>
      <div class="ajuste">
        <p class="idealizadora">Roberta, idealizadora do projeto</p>
        <button class="btn_claro">Saiba Mais</button>
      </div>
    </div>
    <div class="img_retiro">
      <img
        class="img_circle"
        src="../../../../assets/retiro2022001.JPG"
        alt="Foto retiro de mulheres 2022"
      />
    </div>
  </div>
</section>
<section id="atividades" class="container">
  <div class="container">
    <h2 class="title_line">Diversas atividades</h2>
  </div>
  <div class="container_card">
    <div class="card">
      <img
        src="../../../../assets/cursos-anas.png"
        alt="Foto curso artesanal"
      />
      <h3>Cursos</h3>
    </div>
    <div class="card">
      <img
        src="../../../../assets/consultas-anas.png"
        alt="Foto curso artesanal"
      />
      <h3>Consultas</h3>
    </div>
    <div class="card">
      <img
        src="../../../../assets/reunioes-anas.png"
        alt="Foto curso artesanal"
      />
      <h3>Reuniões</h3>
    </div>
  </div>
  <div class="container_button">
    <a id="ver_atividades" class="btn_vazado" routerLink="/cursos"
      >Ver mais atividades</a
    >
  </div>
</section>
