<section id="logo_home" class="container-fluid">
  <div class="container">
    <div class="logo">
      <img
        src="../../../../assets/logo-anas.jpeg"
        alt="Logo Ong Resgatando Anas"
        class="img_logo"
      />
    </div>
    <div class="slogan">
      <p class="paragrafo_slogan">
        Um projeto para mostrar o seu potencial, trazendo esperança e
        autoestima.
      </p>
    </div>
  </div>
</section>
<section id="sobre_home" class="container_fluid">
  <div class="container">
    <div>
      <h2 class="title">Sobre o projeto</h2>
      <p>
        Temos reuniões de forma quinzenal que tem o objetivo de cuidar da nossa
        Alma. Temos o costume de nos preocupar com o corpo, a igreja se preocupa
        com o espírito, e Deus pôs no meu coração a necessidade e a importância
        de cuidar da Alma.
      </p>
      <p>Roberta, idealizadora do projeto</p>
      <button mat-button color="primary">Saiba mais</button>
    </div>
    <div class="img_circle"></div>
  </div>
</section>
<section class="container"></section>
