@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


li{
  list-style: none;
}
a{
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  font-family: "Dosis", Roboto, "Helvetica Neue", sans-serif;
  font-size: 30px;
  font-weight: 400;
  color:#0D0D0D ;
}

html, body { height: 100%; }
body { margin: 0;  }
.container-fluid{
  width: 100%;
}
.container{
  width: 90%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  padding: 50px 0;
}
.title_cursive{
  font-family: 'Ms Madi', sans-serif;
  font-size: 46px;
  font-weight: 400;
}
.title, .title span{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.title_line, .title_line span{
  font-family: 'Montserrat', sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  color: #7D0E31;
  margin-bottom: 20px;
  &::before{
    content: "";
    position: absolute;
    border-bottom: 3px solid #7D0E31;
    width: 600px;
    bottom: 0;
  }
}
.slogan{
  width: 300px;
  margin: 0 auto;
}
.img_logo{
  width: 80%;
  margin: 0 auto;
}
.logo{
  display: flex;
  justify-content: center;
}
.btn_claro{
  background-color: #FFF5F9;
  color: #7D0E31;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  transition: 0.6s;
  &:hover{
    background-color: #FFA4C5;
  }
}
.btn_vazado{
  background-color: transparent;
  border: 3px solid #FF8AAF;
  padding: 4px 8px;
  color: #7D0E31;
  border-radius: 10px;
  transition: 0.6s;
  &:hover{
    background-color: #FF8AAF;
  }
}
.btn_rosa{
  background-color: #FF8AAF;
  font-family: 'Montserrat', sans-serif;
  color: #7D0E31;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  transition: 0.6s;
  &:hover{
    background-color: #FFA4C5;
  }
}
.btn_rosa_forte{
  background-color: #94173F;
  color: #FFF5F9;
  padding: 15px 25px;
  border-radius: 10px;
  border: none;
  transition: 0.6s;
  &:hover{
    color: #94173F;
    background-color: #FFF5F9;
  }
}
.container_button{
  padding: 40px 0;
  width: 100%;
  a{
    float: right;
  }
}

@media (max-width: 728px){
  *{
    font-size: 20px;
  }
  .title_cursive{
    font-family: 'Ms Madi', sans-serif;
    font-size: 30px;
    font-weight: 400;
  }
  .title, .title span{
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 400;
  }
  .img_logo{
    width: 80%;
    margin: 0 auto;
  }
  .title_line, .title_line span{
    font-size: 28px;

  &::before{
    width: 400px;
  }
}
}
@media (max-width: 420px){
  .title_cursive{
    letter-spacing: -0.4px;
  }
  .container{
    flex-direction: column;
    justify-items: center;
  }
  .title span{
    display: block;
  }

  .title_line, .title_line span{
    font-size: 26px;

  &::before{
    width: 325px;
  }
}
}
